fieldset {
  border-color:#7092bb;
  color:#7092bb;
  }
  legend {
    text-align: center;
      margin: auto;
  }
.lijevo,.desno{
    width: 12%;
    height: 190px;
    border-radius: 35px;
    margin: 0px 5px 0px 5px;
}
.centar{
  height: 230px;
  border-radius: 16px;
  width: 16%;
  margin: 0px 5px 0px 5px;
}

 .flex-containter{
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
 }
 body{
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(180deg, #b5c7dc,#e0e8ef);
   height: 1000px;
 }
 fieldset h3{
  font-weight: normal;
  text-align: center;
}
fieldset p{
  text-align: center;
  font-size: x-small;
}
  
@media only screen and (max-width: 600px) {
  .lijevo{
   display: none;
  }
  .flex-containter{
    padding-top: 10px;
    margin: auto;
    display:table;
    width: 100%;
  }
  .centar{
    margin-top: 15px;
    margin: 0 auto;
    vertical-align: top;
    width: 60%;
  }
  .desno{
    width: 60%;
    vertical-align: middle;
    margin: 0 auto;
  }
}